<!-- npm run dev  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and SignUp</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            overflow: hidden;
        }

        .container {
            display: flex;
            border-top-right-radius: 140px;
            border-bottom-right-radius: 180px;
            transition: 1s ease-in-out;
            overflow: hidden;

        }

        .container>.card-1 {
            width: 60%;
            height: 640px;
            color: white;
            font-size: 20px;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            /* background-image: url("left.svg"); */

        }

        .container>.card-2 {
            width: 40%;
            height: 640px;
            background: #000;
        }

        .container>.card-2>.user .myForm {
            transition: 1s ease-in-out;
        }

        .container.active>.card-2>.user .myForm.sign-in {
            transform: translateY(-550px);
        }

        .container>.card-2>.user>.myForm.sign-up {
            position: absolute;
            top: 700px;
            margin-left: 100px;
        }

        .container>.card-2>.user>.myForm.sign-in {
            position: absolute;
            top: 130px;
            margin-left: 100px;
        }

        .container.active .card-2>.user>.myForm.sign-up {
            transform: translateY(-550px);
        }

        h2 {
            font-size: 30px;
            color: #fff;
            text-align: center;
        }

        .myInput {
            position: relative;
            margin: 30px 0;
            border-bottom: 2px solid #fff;
        }

        .myInput label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .myInput input {
            width: 320px;
            height: 40px;
            font-size: 16px;
            color: #fff;
            padding: 0 5px;
            background: transparent;
            border: none;
            outline: none;
        }

        .myInputinput:focus~label,
        .myInput input:valid~label {
            top: -5px;
        }

        .remember {
            margin: -5px 0 15px 5px;
        }

        .remember label {
            color: #fff;
            font-size: 14px;
        }

        .remember label input {
            accent-color: #0ef;
        }

        button {
            position: relative;
            width: 100%;
            height: 40px;
            background: #0ef;
            box-shadow: 0 0 10px #0ef;
            font-size: 16px;
            color: #000;
            font-weight: 500;
            cursor: pointer;
            border-radius: 30px;
            border: none;
            outline: none;
        }

        .signUp-link {
            font-size: 14px;
            text-align: center;
            margin: 15px 0;
        }

        .signUp-link p {
            color: #fff;
        }

        .signUp-link p a {
            color: #0ef;
            text-decoration: none;
            font-weight: 500;
        }

        .signUp-link p a:hover {
            text-decoration: underline;
        }
        .error-message {
            color: red;
            font-size: 14px;
            margin-left: 5px; /* Adjust as needed */
            margin-top: -20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="card-1">
        </div>
        <div class="card-2">
            <div class="user">
                <div class="myForm sign-in">
                    <form action="/login" method="post">
                        <h2>Login</h2>
                        <div class="myInput">
                            <input type="text" name="name" required>
                            <label for="">Username</label>
                        </div>
                        <div class="myInput">
                            <input type="password" name="password" required>
                            <label for="">Password</label><br>
                        </div>
                        <div class="error-message">
                            <%= errorMessage %>
                        </div>
                        <!-- <% if (typeof errorMessage !== 'undefined') { %> -->
                            
                        
                        <!-- <% } %> -->
                        <div class="remember">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit">Login</button>
                        <div class="signUp-link">
                            <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
                        </div>
                    </form>
                </div>
                <div class="myForm sign-up">
                    <form action="/signup" method="post">
                        <h2>Sign Up</h2>
                        <div class="myInput">
                            <input type="text" name="name" required>
                            <label for="">Username</label>
                        </div>

                        <div class="myInput">
                            <input type="password" name="password" required>
                            <label for="">Password</label>
                        </div>
                        <div class="remember">
                            <label><input type="checkbox" required> I agree to the terms & conditions</label>
                        </div>
                        <button type="submit">Sign Up</button>
                        <div class="signUp-link">
                            <p>Already have an account? <a href="#" class="signInBtn-link">Sign In</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

<script>
    const signInBtnLink = document.querySelector('.signInBtn-link');
    const signUpBtnLink = document.querySelector('.signUpBtn-link');
    const container = document.querySelector('.container');
    signUpBtnLink.addEventListener('click', () => {
        container.classList.toggle('active');
    });
    signInBtnLink.addEventListener('click', () => {
        container.classList.toggle('active');
    });
</script>

</html>